*.pyc
*.pyo
__pycache__/
__pycache__/*
*/__pycache__/

*.idea
.idea

Datasets/
Datasets/*

*.pth
*.bin
*.pt
*.pkl
*.zip
*.tar.gz
*.tar
*.rar

SimCLR/runs/*
SimCLR/runs/
*/runs/
*/runs/*
